*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background: var(--base);
}
:root{
    --base: #0faf7a;
}
header{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

    .logo{
        font-size: 1.3em;
        font-weight: 900;
        color: var(--base);
        cursor: pointer;
    }
}
h1{
    font-weight: 800;
    font-size: 2em;
}
ul{
    list-style-type: none;
    display: flex;

    li{
        margin: 0 10px;
        font-weight: 600;

        a{
            transition: 400ms ease;

            &:hover{
                color: yellowgreen;
                text-decoration: none;
            }
        }
    }
}
a{
    text-decoration: none;
    color: var(--base);

    &:hover{
        text-decoration: underline;
    }
}
.active{
    background: var(--base);
    color: white;
    padding: 8px;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;

    input{
        height: 1.5em;
        margin: 10px 0;
        padding: 5px;
        border: solid rgb(160, 160, 160) 1px;
        border-radius: 5px;
        outline: var(--base) 5px;
    }
    
    button{
        margin: 10px 0;
        height: 30px;
        padding: 5px;
        background: var(--base);
        color: white;
        border: none;
        border-radius: 5px;
        transition: 400ms ease;

        &:hover{
            border: solid var(--base) 2px;
            background: none;
            color: var(--base);
            font-weight: bold;
        }
    }
}
section.form-container{
    background: white;
    max-width: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
    top: 150px;
}



